{{define "header"}}
<div class="flex flex-col">
  <div class="flex justify-between items-center flex-wrap">
    <h1 class="text-xl flex gap p-0">
      {{if .SiteURLs.HomeURL}}
        <a href="{{.SiteURLs.HomeURL}}">repos</a>
        <span>/</span>
      {{end}}
      <span>{{.Repo.RepoName}}</span>
    </h1>
    <form id="search-form" action="{{.SiteURLs.SearchURL}}" method="get">
      <input type="search" name="q" id="search-input" placeholder="Search files...">
      <button type="submit" aria-label="Search" id="search-button">🔍</button>
    </form>
  </div>

  <nav>
    <a href="{{.SiteURLs.SummaryURL}}">summary</a> |
    <a href="{{.SiteURLs.RefsURL}}">refs</a> |
    <span class="font-bold">{{.RevData.Name}}</span> |
    <a href="{{.RevData.TreeURL}}">code</a> |
    <a href="{{.RevData.LogURL}}">commits</a>
    {{if .Repo.IssuesEnabled}} | <a href="{{.SiteURLs.IssuesURL}}">issues</a>{{end}}
  </nav>

  <div>
    <div>{{.Repo.Desc}}</div>
    {{if .SiteURLs.CloneURL}}<pre class="mb-0">git clone {{.SiteURLs.CloneURL}}</pre>{{end}}
  </div>
</div>
{{end}}
