{{template "base" .}}

{{define "title"}}Search - {{.Repo.RepoName}}{{end}}
{{define "meta"}}{{end}}

{{define "content"}}
  <h2 class="text-lg">Search Results</h2>
  <div id="search-results-container">
    <p>Searching...</p>
  </div>
{{end}}
