{{template "base" .}}

{{define "title"}}{{.Repo.RepoName}}{{if .Repo.Desc}} - {{.Repo.Desc}}{{end}}{{end}}
{{define "meta"}}
<link rel="stylesheet" href="{{.Repo.RootRelative}}syntax.css" />
{{end}}

{{define "content"}}
  <div class="md">
    {{.Readme}}
  </div>
  {{if .LanguageStats}}
  <div class="language-stats">
    <div class="language-bar">
      {{range .LanguageStats}}
      <span class="language-segment" style="width: {{.Percentage}}%; background-color: {{.Color}};" title="{{.Name}}: {{printf "%.2f" .Percentage}}%"></span>
      {{end}}
    </div>
    <ul class="language-legend">
      {{range .LanguageStats}}
      <li>
        <span class="legend-color" style="background-color: {{.Color}};"></span>
        <a href="{{.URL}}" class="legend-name">{{.Name}}</a>
        <span class="legend-percentage">{{printf "%.2f" .Percentage}}%</span>
      </li>
      {{end}}
    </ul>
  </div>
  {{end}}
{{end}}
